* {
  font-family: Arial; }

.field {
  font-size: 1rem;
  position: relative;
  padding-top: 1.125rem;
  height: 2.5rem; }
  .field input,
  .field select,
  .field textarea {
    border: none;
    border-bottom: 1px solid #2196f3;
    color: #000000;
    outline: none;
    width: 100%;
    padding: 0 2px 2px; }
    .field input + label,
    .field input .tooltip,
    .field select + label,
    .field select .tooltip,
    .field textarea + label,
    .field textarea .tooltip {
      padding-left: 2px; }
    .field input + label,
    .field select + label,
    .field textarea + label {
      position: absolute;
      width: 100%;
      top: 1.2rem;
      font-size: .875rem; }
    .field input:focus + label,
    .field select:focus + label,
    .field textarea:focus + label {
      top: 0;
      font-size: .75rem; }
  .field .tooltip {
    font-size: .75rem; }
